body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #333; 
    overflow: hidden;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #555; 
}

.navbar li a.active {
    background-color: #04AA6D; 
    color: white;
}

.navbar li a.active2 {
    background-color: #91b45b; 
    color: white;
}

.navbar li a.active3 {
    background-color: #ac5882; 
    color: white;
}

.content {
    padding: 20px;
}